html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.wrap {
	height: 100%;
	perspective: 1000px;
}

.cube {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	height: 200px;
	transform-style: preserve-3d;
}

.cube div {
	position: absolute;
	width: 200px;
	height: 200px;
}

.front {
	transform: translateZ(100px);
	background-image: url("../images/photo1.jpeg");
	background-size: cover;
	background-position: center;
}
.back {
	transform: translateZ(-100px) rotateY(180deg);
	background-image: url("../images/photo2.jpeg");
	background-size: cover;
	background-position: center;
}
.right {
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
	background-image: url("../images/photo3.jpeg");
	background-size: cover;
	background-position: center;
}
.left {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
	background-image: url("../images/photo4.jpeg");
	background-size: cover;
	background-position: center;
}
.top {
	transform: rotateX(-90deg) translateY(-100px);
	transform-origin: top center;
	background-image: url("../images/photo5.jpeg");
	background-size: cover;
	background-position: center;
}
.bottom {
	transform: rotateX(90deg) translateY(100px);
	transform-origin: bottom center;
	background-image: url("../images/photo6.jpeg");
	background-size: cover;
	background-position: center;
}
